<table class="table-auto border border-collapse rounded-lg w-full h-full mx-auto">
  <caption></caption>
  <thead class="bg-gray-800">
    <tr class="text-white text-left">
      <th class="py-3">Moneda</th>
      <th class="py-3">Compra</th>
      <th class="py-3">Venta</th>
    </tr>
  </thead>
  <tbody>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><i class="fa fa-dollar"></i> USD</td>
      <td class="py-3">{{((this.banktax * this.usd) / 100).toFixed(2)}}</td>
      <td class="py-3">{{this.usd}}</td>
    </tr>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><i class="fa fa-eur"></i> EUR</td>
      <td class="py-3">{{((this.banktax * this.eur) / 100).toFixed(2)}}</td>
      <td class="py-3">{{this.eur}}</td>
    </tr>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><b>R<i class="fa fa-dollar"></i></b> Real</td>
      <td class="py-3">{{((this.banktax * this.real) / 100).toFixed(2)}}</td>
      <td class="py-3">{{this.real}}</td>
    </tr>
    <tr class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3"><i class="fa fa-gbp"></i> Libra</td>
      <td class="py-3">{{((this.banktax * this.punds) / 100).toFixed(2)}}</td>
      <td class="py-3">{{this.punds}}</td>
    </tr>
  </tbody>
</table>
