<div class="container mx-auto px-4 justify-center content-center">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-10">
    <div class="px-6">
      <div class="flex flex-wrap justify-center mt-10">
        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
          <div *ngIf="this.currentAccount !== undefined" class="relative justify-center text-center">
            <div class="shadow-lg custhover-{{this.currentColor}} mr-3 md:mr-2 rounded-2xl p-4 my-2">
              <div class="flex items-center">
                <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 rounded-lg {{'gradient-' + this.currentColor}}">
                    <svg class="w-8 h-8" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                </div>
                <div class="ml-3 mt-4 w-40">
                  <span class="text-2xl font-bold leading-none md:text-3xl text-green-500">${{this.currentAccount.balance}}</span>
                  <h3 class="text-base font-normal text-gray-500">Caja {{this.currentAccount.accountType.name.toLowerCase()}}</h3>
                  <button *ngIf="!this.editor" routerLink="/accounts/deposits" class="custhover3-{{this.currentColor}} bg-white uppercase hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
                    Depositar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-4/12 px-4 lg:order-3 text-center lg:text-right self-center">
          <div class="py-6 px-3 lg:mt-32 mt-0">
            <button (click)="this.toEdit()" class="custhover2-{{this.currentColor}} text-slate-600 uppercase font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
              Editar
            </button>
          </div>
        </div>
        <div class="w-full sm:w-0 lg:w-4/12 px-4 lg:order-1">
          <div class="flex justify-center lg:py-4 lg:pt-8">
          </div>
        </div>
      </div>
      <div *ngIf="!this.editor" class="text-center lg:mt-12 sm:mt-0"></div>
      <div *ngIf="this.editor" class="text-center mt-12">
        <div class="w-5/6 md:w-3/4 lg:w-2/3 xl:w-[500px] 2xl:w-[550px] mt-8 mx-auto lg:px-16 content-center justify-center rounded-lg">
          <form [formGroup]="editAccountForm" (ngSubmit)="onEditAccount()" class="my-8 text-sm lg:w-96">

            <div *ngIf="this.error.state" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <span class="font-medium">Error:</span> {{error.description}}
            </div>

            <div class="flex flex-col my-4">
              <label for="accountType" class="text-gray-700">Tipo de cuenta:</label>
              <select #accountsTypes type="text" name="accountType" id="accountType" formControlName="accountType" (change)="switchAccountType(+accountsTypes.value)" class="mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900">
                <option *ngFor="let option of accountTypes" value="{{option.value}}">{{option.name}}</option>
              </select>
            </div>

            <div class="my-4 flex items-center justify-center space-x-4">
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 rounded-lg px-8 py-2 text-gray-100 hover:shadow-xl transition duration-150 uppercase">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!this.editor" class="container mx-auto px-4 justify-center content-center">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-10">
    <div class="px-6">
      <div class="flex flex-wrap justify-center mt-10">
        <div class="w-full px-4 flex justify-center">
          <div class="text-2xl font-medium text-gray-900">Historial de transacciones:</div>
        </div>
      </div>
      <div class="mt-12">
        <table class="table-auto border border-collapse rounded-lg w-full mx-auto">
          <caption></caption>
          <thead class="bg-gray-800">
            <tr class="text-white text-left">
              <th class="py-3">Tipo de movimiento</th>
              <th class="py-3">Hacia</th>
              <th class="py-3">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movement of lastMovementsFinal; index as i" class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
              <td class="py-3">{{movement.type}}</td>
              <td class="py-3">{{movement.outcome.customer.fullName}}</td>
              <td class="py-3">${{movement.balance}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
