<table class="table-auto border border-collapse rounded-lg w-full mx-auto">
  <caption></caption>
  <thead class="bg-gray-800">
    <tr class="text-white text-left">
      <th class="py-3">Tipo de movimiento</th>
      <th class="py-3">Origen / Destino</th>
      <th class="py-3">Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movement of lastMovementsFinal; index as i" class="transition duration-300 ease-in-out hover:bg-gray-100 border-hidden text-left whitespace-nowrap">
      <td class="py-3">{{movement.type}}</td>
      <td class="py-3">{{movement.outcome.customer.fullName}}</td>
      <td class="py-3">${{movement.balance}}</td>
    </tr>
  </tbody>
</table>
